<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 

 
<!DOCTYPE html>
<html>
	<head>
		<title>LUDUS OF FURKAN</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}"/>
	</head>
    

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand active" href="/home">LUDUS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>   
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="#">Spartacus Chat Bot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/medicus">Medical Chat Bot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">loading</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <body>
        <main>
            <section class="jumbotron text-center hero-section">
                <div class="rounded-circle-container">
                    <img src="https://thecredhulk.files.wordpress.com/2013/03/new-spartacus-trailer-released.jpg" class="rounded-circle" />
                </div>                
                <div class="container">
                    <h1 class="jumbotron-heading">Ludus of Furkan</h1>
                    <p class="lead-text-muted">Welcome to Furkan's Ludus. This website was created by me using Llama 2 for my hobby. You can talk to spartacus or use medicus.
                    </p>
                </div>
            </section>
        </main>
    <body>